{% block body %}
      <div style="text-align: center"><b>Création Coffre</b></div>
    <div id="loadingmessage" style="display:none;text-align: right">
         <img src="{{ asset('img/ajax-loader.gif') }}" />
          <img src="{{ asset('img/ajax-loader.gif') }}" />
       <img src="{{ asset('img/ajax-loader.gif') }}" />
    </div>
{#    {{ form_start(form, { 'action': path('user_new') , 'attr' : {'id':'form_user'} } ) }}#}
    
<form method="post" id="form_user">
        <div style="text-align: center">
            <span style="font-size: 13px;font-weight: bold">Personne</span>
        </div>
       
        <div class="radio" style="background-color:  #fff">
             <span style="float: left">
            <label class="required" style="font-size: 1rem;color: #495057;">
                <input id="civilite-categ-pa" name="civilite-categ" required="required" value="Particulier" type="radio" checked/>
                Physique
            </label></span>
            
          
 <span style="float: right">
            <label class="required" style="font-size: 1rem;color: #495057;">
                <input id="civilite-categ-et" name="civilite-categ" required="required" value="Entreprise" type="radio"/>
                Morale
            </label></span>

            
        </div><br style="clear:both" />

        <div class="form-group" style="display: none">
            <input type="text" id="appbundle_utilisateur_civilite" name="civilite"  class="form-control" value="Mr(Mme)" required autofocus>
        </div>

       {# <div style="text-align: center">
          <span style="font-size: 13px;font-weight: bold">Informations Utilisateur </span>
        </div>#}
        <div class="form-group person-donnee">
            <input type="text" name="prenom" id="appbundle_utilisateur_prenom"  class="form-control ltc-nom" placeholder="Prénom" required autofocus/>
        </div>

        <div class="form-group">
             <input type="text" name="nom" id="appbundle_utilisateur_nom"  class="form-control ltc-nom" placeholder="Nom de famille" required autofocus/>
        </div>

        <div class="form-group">
           <input type="email" id="appbundle_user_email" name="email"  class="form-control" placeholder="Adresse e-mail" required autofocus>
            <div id="erroremail" style="padding-left: 5px;display: none">
                <span style="font-size: 12px;color: #C82829">
                    Cet e-mail est déjà utilisé.
                </span>
            </div>
            <div id="erroremailValidation" style="padding-left: 5px;display: none">
                <span style="font-size: 12px;color: #C82829">
                   E-mail invalide!
                </span>
            </div>
           <div id="erroremailExist" style="padding-left: 5px;display: none">
                <span style="font-size: 12px;color: #C82829">
                   Cet e-mail n'existe pas.
                </span>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="telephone" id="appbundle_utilisateur_telephone" class="form-control" placeholder="Téléphone" required autofocus/>
            <div id="errorphone" style="padding-left: 5px;display: none">                        
                <span style="font-size: 12px;color: #C82829">
                    Numéro téléphone erroné!
                </span>
                <span style="font-size: 12px">
                    5 chiffres au moins.
                </span>
            </div>
        </div>                       



        
        

        
        {#<div class="form-group">
            {{ form_widget(form.telephone,{'attr':{'class':'form-control', 'placeholder':'Téléphone'}}) }}
            {{ form_errors(form.telephone) }}
        </div>#}
        
         
        



        <div style="height: 40px">
            <span style="float: right">
                <a href="" id="useannuller" class="btn btn-ems">Annuler</a>
                <input type="submit" value="Créer" class="btnwhite btn  btn-ems submit-button" />
            </span>
        </div>
{#    {{ form_end(form) }}#}
</form>
{% endblock %}
