<div  id="sidebar-wrapper-connexion" style="text-align: center;">
    
    <div  style="border-right: 2px #265ead solid;padding-left: 5px;padding-right: 5px;font-size: 30px;line-height: 1.8;color: #5f6368;">
          {# <span style="font-weight: bold">Distribution</span>#}
           
        {#<img src="{{ asset('img/courrier-entreprise.png') }}" alt="Girl in a jacket" width="70px" height="70px" class="img"/>
        <div class="texte_centrer" style="line-height: 16px">
              <span style="font-weight: bold">Electroniques d'Entreprise</span><br/>
              <a href="#" class="myBtn btn btn-ems infoCoffre">
                  C'est Ici !
                   <i class="fa fa-angle-right fa-lg"></i>
              </a>
        </div>#}
         <span class="myBtn infoCoffre" style="font-weight: bold">
               <a href="#" style="text-decoration: none;color: #265ead;">
                          Documents RH et Clients
                        </a>  
          </span>
          
       {# <a href="#" class="myBtn btn btn-ems infoCoffre">
                  C'est Ici !
                   <i class="fa fa-angle-right fa-lg"></i>
        </a>#}
    </div>
      <div style="height: 632px;text-align: center;border-right: 2px #265ead solid;">
          {#<div style="text-align: left;font-style: italic;padding: 5px;font-size: 30px;"> 
               <b>{{nentreprises}} Entreprises utilisent La Solution</b>
           </div>#}
            <div>
                <iframe width="600" height="345" src="https://www.youtube.com/embed/TJmrXFWKrfo"  id="videoPrinCoffre">
                </iframe>
{#                <img src="{{ asset('img/principe-application.png') }}" alt="icone"  height='550px' width='100%'/>#}
            </div>
            
            <div style="margin-top: 40px;text-align: right;padding-right: 20px">
                
                     <img src="{{ asset('img/btn-app-store.png') }}" alt="icone"  />
               
                
                    <img src="{{ asset('img/btn-google-play.png') }}" alt="icone"  />
              
             
               
            </div>
             
             
            
          
      </div>
      <div style="height: 50px;text-align: center;background: #FFF;border-right: 2px #265ead solid;">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="text-align:left">
                    <span style="font-weight: 100px;color: #0078b2;">
                        Contact
                    </span>
                </div>
                <div class="col-sm" style="text-align:right">
                    <span style="font-weight: 100px;color: #0078b2;">
                        CopyRight
                    </span>
                </div>
              
              {#<div class="col-sm" style="text-align:right">
                      <span style="font-weight: 100px;color: #0078b2;">
                        Utilisateurs
                      </span>
              </div>#}
            </div>
            <div class="row" style="color: #5f6368;">
                <div class="col-sm" style="text-align:left">
                          samacoffre@samacoffre.sn
                </div>
                <div class="col-sm" style="text-align:right">
                     LSD
                </div>
                  
                  {# <div class="col-sm" style="text-align:right">
                       {{nbusers}}
                   </div>
#}
            </div>
        </div> 
      </div>
      
</div> 

