{% extends 'base.html.twig' %}

{% block body %}
     {{ include('includes/entete-menu-defilant.html.twig') }}
    
    <!-- Menu and Content -->
    <div class="div-preview">
        <div class="d-flex" id="wrapper">
            <!-- Page menu -->
              {{ include('includes/menu-lateral.html.twig') }}
            
            <!-- Page Content -->
            <div id="page-content-wrapper">

              

                <div class="content container" id="content"> 
                    <h1>
                             <span class="mt-4"> 
                                Modification Mot de Passe
                             </span>
                    </h1>
                    
                     <div  id="success-alert" style="height: 30px;text-align: center;display: none" class="width-input-field">
                           
                            <span style="color: #155724">
                                PassWord Modifié avec succès!
                            </span>
                           
                    </div>

                    
                    <form action="{{ path('password') }}" method='post' id="form_pwdchange"> 
                        
                        
                        <div class="form-group">
                            <fieldset>
                                <legend>Password Courant</legend>
                                <input type="password" name="currentPWD" id="currentPWD" size="20" class="form-control width-input-field crf-pwd"/>
                                <div id="errorcurrentPWD" style="padding-left: 5px;display: none">
                                    <span style="font-size: 12px;color: #C82829">
                                       Password Courant Invalide !
                                    </span>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <legend>Nouveau Password</legend>
                                <input type="password" name="firstPWD" id="firstPWD" size="20" class="form-control width-input-field crf-pwd"/>
                                <div id="errorfirstPWD" style="padding-left: 5px;display: none">
                                    <span style="font-size: 12px;color: #C82829">
                                        Le mot de passe doit contenir au moins six caractères dont un chiffre
                                        et une lettre majuscule au moins.
                                    </span>
                                    <span style="font-size: 12px">
                                        Ex: 2Er1y5R
                                    </span>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <legend>Confirmation</legend>
                                <input type="password" name="secondPWD" id="secondPWD" size="20" class="form-control width-input-field crf-pwd" disabled="true"/>
                            
                                <div id="errorsecondPWD" style="padding-left: 5px;display: none">
                                    <span style="font-size: 12px;color: #C82829">
                                       Ce PassWord doit être identique au premier.
                                    </span>
                                </div>
                            </fieldset>
                            
                            
                           <div style="margin-top:7px">
                                <input type="checkbox"  id="affichePWD"/>
                                <span style="font-size: 14px;">&nbsp;Afficher les mots de passe</span>
                            </div>
                        </div>
                        
                        <div style="height: 30px" class="width-input-field">
                            <span style="float: right">
                                  {% if(is_granted('ROLE_ENTREPRISE')) %}
                                      <a href="{{ path('adminentreprise_entreprise') }}"class="btn btn-ems">Mon Compte</a>
                                  {% else %}
                                      <a href="{{ path('user_show') }}"class="btn btn-ems">Mon Compte</a>
                                  {% endif %}    
                                
                                
{#                                <a href="{{ path('user_show') }}"class="btn btn-ems">Retourner</a>#}
                                <input type="submit" value="Changer" class="btn  btn-ems" />
                            </span>
                        </div>
                    </form>
                    
                </div> 
            </div>
        </div>
     </div>





{% endblock %}
